$color: black
@import "bourbon"

body

  font-family: 'Share Tech Mono'
  background-color: $color

$menu-color: #FF0066
$menu-width: 300px

#slide-controls
  background-color:   fade-out($menu-color, 0.2)
  position:           fixed
  top:                0px
  left:               -20-$menu-width
  width:              $menu-width
  height:             100%
  -moz-transition:    all 300ms
  -webkit-transition: all 300ms
  transition:         all 300ms
  box-shadow:         0px 0px 15px 4px fade-out($menu-color, 0.5)

  h1, h3
    width:            100%
    text-align:       center

body.active #slide-controls
  left:             0px

#menu-trigger
  top:              10px
  left:             10px
  position:         fixed
  top:              10px
  left:             10px
  background:       $menu-color
  box-shadow:       0px 0px 15px 4px fade-out($menu-color, 0.5)
  padding:          10px
  cursor:           pointer
  border-radius:    5px

  -moz-transition:    all 300ms
  -webkit-transition: all 300ms
  transition:         all 300ms

  &:hover
    background:     darken($menu-color, 5)

body.active #menu-trigger
  left:             $menu-width + 10px
